/* body{
     background-color: pink,
     
};

a :visited{
          color:blueviolet
}

a:active{
     color:red
}

a:hover{
    color: red
}

 table,th, td{
     text-align: center;
     border:1px solid black;

     border-collapse: collapse;

     
     
     

}


form { 

     margin-left: 600px;
} */
